html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------ */

h1 {
    color: black;
}

body {
    box-sizing: border-box;
    width: 98vw;
    height: 98vh;
    padding: 0px; 
    margin: 0px;
    font-family: 'Cutive Mono', monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    background-color: #32353d;
}


button {
    font-family: 'Cutive Mono', monospace;
    font-size: large;
    border: none;
    border: #13a7be solid thin;
    background-color: transparent;
    cursor: pointer;

}

#outer-border { 
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    height: 95vh; 
    min-width: 800px;
    width: 70%;
    
}
h1 {
    font-size: x-large;
}

header {
    display: flex;
    margin: 25px;
    width: 40%;
    height: 75px;
    font-size:xx-large;
    justify-content: center; 
    align-items: center;
    background-image: url("/textures/grey-paper-texture.jpg");
}

footer{
   
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 15px;
 
    padding-top: 10px;
    text-align: center;
}

input{
    text-align: center;
    height: 75%;
    font-size: x-large;
}

textarea {
    height: 100%;
    font-size: large;
}

textarea, input{
    font-family: 'Cutive Mono', monospace;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: #13a7be solid thin;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    
}


#outer-border {
    background-color: transparent;
}

#main-section {
    box-sizing: border-box;
    display: flex;
    /* border: solid; */
    width: 100%;
    height: 100%;
    justify-content: center;
}

.flip-card{
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    perspective: 1800px;
   
}

.flip-card-inner{
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.flip{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); 
}
.flip360{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg); 
    
}

.flip-card-back, .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 1px 15px;
    background-image: url("/textures/grey-paper-texture.jpg");
    /* z-index: auto; */
}

.flip-card-front{
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    /* z-index: 1; */
    
}


.flip-card-back{
    transform: rotateY(180deg);
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    /* z-index: 0; */
}

.front-title{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-bottom: #bb2e4b solid thin;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.front-left{
    box-sizing: border-box;
    width: 30%;
    border-right: #bb2e4b solid thin;
    height: 90%;
    padding: 15px;
}
.front-right{
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    text-align: center; 
    height: 90%;
    overflow-y: scroll;
   
}

/* #front-recipe-list-section{
    height: 100%;
    box-sizing: border-box;
    
    isolation: isolate;
    overflow-y: scroll;
    -webkit-overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index:0;
} */

.recipe-title-button{
    margin: 10px;
    width: auto;
}

.back-title{
    box-sizing: border-box;
    width: 100%;
    border-bottom: #bb2e4b solid thin;
    height: 10%;
    display: flex;
    align-items: center;
}
#back-title{
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-left{
    box-sizing: border-box;
    width: 30%;
    border-right: #bb2e4b solid thin;
    height: 80%;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
}
.back-right{
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    text-align: left; 
    height: 80%;
    overflow-y: scroll;
}
.back-bottom{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border-top: #bb2e4b solid thin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-top-spacer{
    width: 15%;
    height: 100%;
}

.back-title-div{
    width: 70%;
    height: 100%;
}



#ingredient-section{
    box-sizing: border-box;
    width: 20%;
    padding: 15px;
    border-right: #03a696 solid thick;
    height: 90%;

}

#instruction-section{
    box-sizing: border-box;
    padding: 15px;
    width: 80%;
}


.red-border{
    /* border: solid; */
    border-radius: 15px;
    /* border-color: #03a696; */
    border-width: 7px;
    box-shadow: 1px 1px 15px;

}

.black-border{
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    border-width: thick;
}

/* ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
